.block
  display: flex
  padding: 10px 25px
  color: white
  font-size: 20px
  align-items: baseline

  .credit
    font-size: 15px
    margin-left: 10px

.green
  background-color: #9cbb5d
.blue
  background-color: #4f81be
.red
  background-color: #bb524c
